In [2]:
import pandas as pd
import quandl as qdl
from scipy.stats import linregress

# get AAPL 10 years data

data = qdl.get("WIKI/AAPL", start_date="2016-01-01", end_date="2017-05-01")

data

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2016-01-04,102.6100,105.368,102.0000,105.3500,67649387.0,0.0,1.0,99.136516,101.801154,98.547165,101.783763,67649387.0
2016-01-05,105.7500,105.850,102.4100,102.7100,55790992.0,0.0,1.0,102.170223,102.266838,98.943286,99.233131,55790992.0
2016-01-06,100.5600,102.370,99.8700,100.7000,68457388.0,0.0,1.0,97.155911,98.904640,96.489269,97.291172,68457388.0
2016-01-07,98.6800,100.130,96.4300,96.4500,81094428.0,0.0,1.0,95.339552,96.740467,93.165717,93.185040,81094428.0
2016-01-08,98.5500,99.110,96.7600,96.9600,70798016.0,0.0,1.0,95.213952,95.754996,93.484546,93.677776,70798016.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-25,143.9100,144.900,143.8700,144.5400,18216472.0,0.0,1.0,142.744309,143.726289,142.704633,143.369205,18216472.0
2017-04-26,144.4700,144.600,143.3762,143.6508,19614287.0,0.0,1.0,143.299772,143.428719,142.214832,142.487208,19614287.0
2017-04-27,143.9225,144.160,143.3100,143.7900,13948980.0,0.0,1.0,142.756707,142.992284,142.149169,142.625281,13948980.0
2017-04-28,144.0900,144.300,143.2700,143.6500,20247187.0,0.0,1.0,142.922851,143.131150,142.109493,142.486415,20247187.0
2017-05-01,145.1000,147.200,144.9600,146.6000,32818760.0,0.0,1.0,143.924669,146.007659,143.785803,145.412519,32818760.0

In [11]:
data0 = data.copy()
data0['date_id'] = ((data0.index.date - data0.index.date.min())).astype('timedelta64[D]')
data0['date_id'] = data0['date_id'].dt.days + 1

array([  0,   1,   2,   3,   4,   7,   8,   9,  10,  11,  15,  16,  17,
        18,  21,  22,  23,  24,  25,  28,  29,  30,  31,  32,  35,  36,
        37,  38,  39,  43,  44,  45,  46,  49,  50,  51,  52,  53,  56,
        57,  58,  59,  60,  63,  64,  65,  66,  67,  70,  71,  72,  73,
        74,  77,  78,  79,  80,  84,  85,  86,  87,  88,  91,  92,  93,
        94,  95,  98,  99, 100, 101, 102, 105, 106, 107, 108, 109, 112,
       113, 114, 115, 116, 119, 120, 121, 122, 123, 126, 127, 128, 129,
       130, 133, 134, 135, 136, 137, 140, 141, 142, 143, 144, 148, 149,
       150, 151, 154, 155, 156, 157, 158, 161, 162, 163, 164, 165, 168,
       169, 170, 171, 172, 175, 176, 177, 178, 179, 183, 184, 185, 186,
       189, 190, 191, 192, 193, 196, 197, 198, 199, 200, 203, 204, 205,
       206, 207, 210, 211, 212, 213, 214, 217, 218, 219, 220, 221, 224,
       225, 226, 227, 228, 231, 232, 233, 234, 235, 238, 239, 240, 241,
       242, 246, 247, 248, 249, 252, 253, 254, 255, 256, 259, 260, 261,
       262, 263, 266, 267, 268, 269, 270, 273, 274, 275, 276, 277, 280,
       281, 282, 283, 284, 287, 288, 289, 290, 291, 294, 295, 296, 297,
       298, 301, 302, 303, 304, 305, 308, 309, 310, 311, 312, 315, 316,
       317, 318, 319, 322, 323, 324, 326, 329, 330, 331, 332, 333, 336,
       337, 338, 339, 340, 343, 344, 345, 346, 347, 350, 351, 352, 353,
       354, 358, 359, 360, 361, 365, 366, 367, 368, 371, 372, 373, 374,
       375, 379, 380, 381, 382, 385, 386, 387, 388, 389, 392, 393, 394,
       395, 396, 399, 400, 401, 402, 403, 406, 407, 408, 409, 410, 414,
       415, 416, 417, 420, 421, 422, 423, 424, 427, 428, 429, 430, 431,
       434, 435, 436, 437, 438, 441, 442, 443, 444, 445, 448, 449, 450,
       451, 452, 455, 456, 457, 458, 459, 462, 463, 464, 465, 469, 470,
       471, 472, 473, 476, 477, 478, 479, 480, 483],
      dtype='timedelta64[D]')

In [ ]:
# high trend line

data1 = data0.copy()

while len(data1)>3:

    reg = linregress(
                    x=data1['date_id'],
                    y=data1['Adj. High'],
                    )
    data1 = data1.loc[data1['Adj. High'] > reg[0] * data1['date_id'] + reg[1]]

reg = linregress(
                    x=data1['date_id'],
                    y=data1['Adj. High'],
                    )

data0['high_trend'] = reg[0] * data0['date_id'] + reg[1]

# low trend line

data1 = data0.copy()

while len(data1)>3:

    reg = linregress(
                    x=data1['date_id'],
                    y=data1['Adj. Low'],
                    )
    data1 = data1.loc[data1['Adj. Low'] < reg[0] * data1['date_id'] + reg[1]]

reg = linregress(
                    x=data1['date_id'],
                    y=data1['Adj. Low'],
                    )

data0['low_trend'] = reg[0] * data0['date_id'] + reg[1]

# plot

data0['Adj. Close'].plot()
data0['high_trend'].plot()
data0['low_trend'].plot()